[Unit]
Description=SolarMonitor HackRF Scanner Timer
Requires=solarmonitor-hackrf.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s

[Install]
WantedBy=timers.target
