[Unit]
Description=SolarMonitor HackRF Scanner
After=network.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/home/pi/Projekte/scanner/SolarMonitor-RTL
Environment="PATH=/home/pi/Projekte/scanner/SolarMonitor-RTL/venv/bin"
ExecStart=/home/pi/Projekte/scanner/SolarMonitor-RTL/venv/bin/python3 hackrf_scanner.py

[Install]
WantedBy=multi-user.target
